<h2 class="blog-post-title">{{post.title}}</h2>
<p class="blog-post-meta">{{post.datePost | date}}</p>
<p>{{post.text}}</p>
<hr>

<div class="card" *ngFor="let c of comments">
  <div class="card-header">
    <strong>{{c.user.email}}</strong>
    {{c.messageDate |  date:'medium'}}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{c.message}}</p>
    </blockquote>
  </div>
</div>
<p></p><p></p>

<div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" [(ngModel)]="message"></textarea>
  <label for="floatingTextarea2">Комментарий...</label>
</div>
<p></p>
<div class="col-auto">
  <button type="button" class="btn btn-primary mb-3" (click)="addComment()">Добавить комментарий</button>
</div>
